.todo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    p {
        flex-grow: 1;
        height: fit-content;
        max-width: 40rem;
        padding-inline: 1rem;
    }
}

.todo-btns {
    display: flex;
    place-items: center;
    gap: 1rem;
}

.todo-btn {
    transform: scale(0.8);
    transition: transform 314ms ease-in-out;

    &:hover,
    &:active {
        transform: scale(1);
    }
}

.checked {
    text-decoration: line-through;
    color: var(--secondary-light);
}
