@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --accent: #6C63FF;
  --primary: #F7F7F7;
  --secondary: #252525;
  --secondary-light: #999999;
  --border-radius: .314rem;
  --fz: 18px;
}

.theme-light {
  --background-color: var(--primary);
  --text-color: var(--secondary);
}

.theme-dark {
  --background-color: var(--secondary);
  --text-color: var(--primary);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-block: 2rem 1rem;
}