.gallery {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.gallery-card {
    border: 1px solid #ebebeb;
    width: 22rem;
    height: 26rem;
    padding: 1rem;
    border-radius: 7px;
}

.gallery-card p {
    word-wrap: break-word;
}

.gallery-card img {
    max-width: 20rem;
    max-height: 20rem;
}